@use './variables.scss';

@mixin btn {
    background-color: variables.$background-btn;
    color: variables.$color-btn;
    border: 1px solid variables.$background-btn;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;

    &:hover{
        color: variables.$background-btn;
        background-color: variables.$color-btn;
    }
}